# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore specific files
.vscode/settings.json
.DS_Store
code-plus/lecture-note/algorithm-basic/*
tempCodeRunnerFile.cpp
*.exe
