# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore specific files
.vscode/settings.json
.DS_Store
pps.code-workspace
code-plus/lecture-note/algorithm-basic/*
.vscode/c_cpp_properties.json
tempCodeRunnerFile.cpp
*.exe
